/* Basic reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #B1d202;
  padding: 100px;
  text-align: center;
}

.stamp {
  width: 280px;
  height: 180px;
  display: inline-block;
  padding: 10px;
  background: white;
  position: relative;
  /* Stamp cutou created using radial gradients */
  background: radial-gradient(
    transparent 0px,
    transparent 4px,
    white 4px,
    white
  );
  /* reducing the gradient size */
  background-size: 20px 20px;
  /* Offset to move the holes to the edge */
  background-position: -10px -10px;
}

/* Some text */
.stamp:before {
  content: 'CSS3';
  position: absolute;
  font: bold 24px arial;
}
